# ==================== Django ====================
DEBUG=True
SECRET_KEY=django-insecure-abc123secretkey456fordevonly789change_in_production
DJANGO_PORT=8000
ALLOWED_HOSTS=*

# ==================== PostgreSQL ====================
POSTGRES_DB=lms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_PORT=5432

# ==================== Redis ====================
REDIS_HOST=redis
REDIS_PORT=6379

# ==================== Celery ====================
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# ==================== Stripe ====================
STRIPE_SECRET_KEY=sk_test_твой_тестовый_ключ_от_stripe_сюда