# ================ Django ================
DEBUG=True
SECRET_KEY=django-insecure-abc123secretkey456fordevonly789
ALLOWED_HOSTS=127.0.0.1,localhost

# ================ Stripe ================
STRIPE_SECRET_KEY=sk_test_ВАШ_ТЕСТОВЫЙ_КЛЮЧ_ЗДЕСЬ

# ================ Для продакшена ================
# DEBUG=False
# ALLOWED_HOSTS=твой_ip_или_домен