DEBUG=True
SECRET_KEY=django-insecure-abc123secretkey456fordevonly789
ALLOWED_HOSTS=127.0.0.1,localhost

# ================ Stripe ================
STRIPE_SECRET_KEY=sk_test_ВАШ_ТЕСТОВЫЙ_КЛЮЧ_ЗДЕСЬ

# ================ PostgreSQL ================
POSTGRES_DB=lms_db
POSTGRES_USER=lms_user
POSTGRES_PASSWORD=strong_password_123
DB_HOST=db
DB_PORT=5432

# ================ Redis ================
REDIS_HOST=redis
REDIS_PORT=6379

# ================ Для продакшена ================
# DEBUG=False
# ALLOWED_HOSTS=твой_ip_или_домен